 {% extends '../templates/base.html' %} {% block title%} Edit Profile {% endblock %} {% block styles %} {% load staticfiles %}
<link href="{% static 'css/edit_profile.css' %}" rel="stylesheet" type="text/css"> {% endblock %} {% block body %}
<div class="edit_profile_bg">
    <div class="reg_form-container">
    <style type="text/css">
    #form_contents p {
        color: red;
        text-decoration: : italic;
        font-size: 10 px;
    }
    </style>
        <!-- <a id="esp_logo" href="#"><img src="esp_logo.png"></a> -->
        <center>
            <br>
            <h2 class="reg_form_heading">EDIT PROFILE</h2>
            <form name="EditForm" id="form_contents" action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for='{{ user_form.first_name }}'>First Name *</label>
                {{ user_form.first_name }}<p>{{ user_form.first_name.errors }}</p> 
                <label for='{{ user_form.last_name }}'>Last Name *</label>
               {{ user_form.last_name }} <p>{{ user_form.last_name.errors }}</p> 
                <label for='{{ user_detail_form.image }}'>Profile Pic</label>
                {{ user_detail_form.image }}<p>{{ user_detail_form.image.errors }}</p> 
                <label for='{{ user_form.email }}'>E-mail address *</label>
                 {{ user_form.email }}<p>{{ user_form.email.errors }}</p>
                <label for='{{ user_detail_form.phone_no }}'>Phone Number *</label>
                {{ user_detail_form.phone_no }} <p>{{ user_detail_form.phone_no.errors }}</p> 
                <label for='{{ user_detail_form.city }}'>City *</label>
                 {{ user_detail_form.city }}<p>{{ user_detail_form.city.errors }}</p>
                <label for='{{ user_detail_form.college }}'>College *</label>
                 {{ user_detail_form.college }}{{ user_detail_form.college.errors }}
                <br>
                <label for='{{ user_detail_form }}'>Accomodation Required</label>{{ user_detail_form.accomodation }}
                <input class="reg_button" type="submit" value="submit" name="submit" />
            </form>
        </center>
    </div>
</div>
{% endblock %}
