{% extends 'profile/base.html' %}
{% block title%} Invite {% endblock %}
{% block styles %}
    {% load staticfiles %}
    <link href="{% static 'css/edit_profile.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}            
            <div class="edit_profile_bg">

              <div class="reg_form-container">
                <!-- <a id="esp_logo" href="#"><img src="esp_logo.png"></a> -->
              <center>
              <br><h2 class="reg_form_heading">Send Team Invite</h2>

                <form name="InviteForm" id="form_contents" action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <label for='{{ form.email }}'>Email</label>
                  {{ form.email }}
                  <br>
                  {% if sent %}
                  <span class='sent'>You have succesfully sent an invite to {{ form.email.value }}. Please ask them to check their mail (and spam folder) to have the accept your invitation.</span>
                  {% endif %}
                  {% if messages %}
                    {% for message in messages %}
                        {{ message | safe }}
                        <a href="#" class="close">✖</a>
                    {% endfor %}
                  {% endif %}


                    <input class="reg_button" type="submit" value="submit" name="submit" onClick="formValidation()" />
                 </form>
              </div>
                  </form>
                  </center>
                </div>
                </div>
{% endblock %}