{% extends 'profile/base.html' %}
{% block title%} Logged Out {% endblock %}
{% block styles %}
    {% load staticfiles %}
    <link href="{% static 'css/edit_profile.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}            
            <div class="edit_profile_bg">

              <div class="reg_form-container">
                <!-- <a id="esp_logo" href="#"><img src="esp_logo.png"></a> -->
              <center>
              <br><h2 class="reg_form_heading">Logged Out</h2>
              		You have been successfully logged out. <a href="{% url 'profile:login' %}"> Log in</a> or <a href="{% url 'profile:register' %}">register</a>.
                  </center>
                </div>
            </div>
{% endblock %}

