{% extends '../templates/base.html' %}{% block title%} Password Reset Done {% endblock %} {% block styles %} {% load staticfiles %}
<link href="{% static 'css/edit_profile.css' %}" rel="stylesheet" type="text/css"> {% endblock %} {% block body %}
<div class="edit_profile_bg">
    <div class="reg_form-container">
        <!-- <a id="esp_logo" href="#"><img src="esp_logo.png"></a> -->
        <center>
            <br>
            <h2 class="reg_form_heading">Password set</h2> Your new password has been set.
            <br>You can <a href="{% url 'profile:login' %}">login</a> now.
        </center>
    </div>
</div>
{% endblock %}
