{% extends '../templates/base.html' %}{% block title%} Password Reset {% endblock %} {% block styles %} {% load staticfiles %}
<link href="{% static 'css/edit_profile.css' %}" rel="stylesheet" type="text/css"> {% endblock %} {% block body %}
<div class="edit_profile_bg">
    <div class="reg_form-container">
        <!-- <a id="esp_logo" href="#"><img src="esp_logo.png"></a> -->
        <center>
            <br>
            <h2 class="reg_form_heading">Password reset</h2> We've emailed you instructions for setting your password.
            <br> If you don't receive an email, please make sure you've entered the address you registered with.
        </center>
    </div>
</div>
{% endblock %}
