{% extends 'profile/base.html' %}
{% block title%} Login {% endblock %}

{% block body %}

    <style>
    label{
        color: #d2c78a;
    }
    </style>
<div class="container-fluid">
    <div class="col-sm-12 col-md-7">
        <div class="panel-body">

            <form class="form-horizontal" style="position: absolute; top: 20vh; left:35vw;" action="." method="post">
                {% csrf_token %}
                {% include 'profile/form-template.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" value="Send e-mail">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}