{% extends 'profile/base.html'
{% block title%} {{ team }} {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="col-sm-12 col-md-7">
        <div class="panel-body">
            <h2>{{ team.name }}</h2>
            <div class='col-sm-2'> <h3>Event: </h3></div>
            <div class='col-sm-2'> {{ team.event }}</div>
            {% for member in team.members.all %}
                <div class='col-sm-6'>
                    1.{{ member }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}