{% extends 'profile/base.html' %}
{% block title%} Create a Team {% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link href="{% static 'css/edit_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="edit_profile_bg">
    <div class="reg_form-container">

            <form class="InviteForm" action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'profile/form-template.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}