.notice_wrapper {
    text-align:center;
    font-size:20px;
    color:#fff;
    position:relative;
}



.notice_circle-2 {
    width: 1px;
    height: 00px;
    background: blue;
    position:absolute;
    top:0;
    left:250px;
}

.notice_circle {
    line-height:70px;
    width: 70px;
    border-radius :50px;
    height: 70px;
    background: #d3d3d3;
    position: relative;
    /*animation: notice_mymove 5s  ease-in-out 2s infinite;*/
    position:absolute;
    /*top:-70px;*/
    left:80%;
}


/* Chrome, Safari, Opera */
@keyframes notice_line {
    0% { height:-70px}
    50% { height:20px}
    100% { height:-70px}
}

@keyframes notice_mymove {
    0% { top:-70px}
    50% { top:20px}
    100% { top:-70px}
}


.read_more {
    margin-right: 0;
    margin-left: 0;
}

.read_more [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}




/*EVENTS CSS START*/

.kgec-events span.date b {
    float: none !important;
    display: inline-block;
    font-weight: 700;
    float: left;
    width: 100%;
    line-height: 1.22222222em;
    color: #565656;
    padding-left: 50%;
    padding-top: 5%;

}



.kgec-events{
  text-align: center;
  
}

.kgec-events h2 {
  text-transform: uppercase;
}

/*h2 .event-title{
    padding-bottom: 50px;
}*/

.event-title{
  padding-bottom: 20px;
}

.kgec-events span.date {
    width: 112px;
    height: 112px;
}

.kgec-events span.date::after {
    width: 100px;
    height: 100px;
}

.kgec-events span.date{
    display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center;
position: relative;
background-color: #fff;
width: 60px;
height: 90px;
-webkit-border-radius: 50%;
border-radius: 50%;
margin: 0 auto;


}

.kgec-events span.date::after {
    border: 4px solid #d6d6ce;
    content: "";
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 6px;
    left: 6px;
}

span.date:hover::after{
    content:"";
    background-image: url(); /* no need for quotes */
    background-size: 78px;
    -webkit-transition: color background 0.2s ease-in-out;
  -moz-transition: color background 0.2s ease-in-out;
  -ms-transition: color background -0.8s ease-in-out;
  -o-transition: color background 0.2s ease-in-out;
  transition: color background 0.2s ease-in-out;
    display: block;
    position: absolute;
    
}

/*EVENTS CSS END*/