@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* ==========================================================================
Global Styles
========================================================================== */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #0d0d0d;
    overflow-x: hidden;
}

.sep {
    max-width: 80px;
    border: 2px solid #0d0d0d;
    margin-top: 40px;
    margin-bottom: 40px;
}

.light-sep {
    max-width: 80px;
    border: 2px solid #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* ==========================================================================
Typography
========================================================================== */
h1 {
    font-size: 72px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.16em;
}

h2 {
    font-size: 36px;
    color: #000;
    font-weight: 400;
    letter-spacing: 0.05em;
}

h3 {
    font-size: 26px;
    color: #000;
    font-weight: 400;
}

h4 {
    font-size: 24px;
    color: #000;
    font-weight: 400;
}

h5 {
    font-size: 22px;
    color: #000;
    font-weight: 400;
}

h6 {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    letter-spacing: 0.05em;
}

p {
    font-size: 16px;
    color: #700a0a;
    font-weight: 400;
}

a {
    color: #bf3b46;
}

a:hover {
    color: #700a0a;
}

/* ==========================================================================
Navigation Style
========================================================================== */
.navbar-default {
    background: rgba(13, 13, 13, 0.6);
    margin-bottom: 0;
    border: none;
}

.navbar-default .navbar-header {
    padding-right: 7%;
}

.navbar-default .nav-wrap {
    width: 70%;
    padding-left: 5%
}

.navbar-default .nav > li > a {
    font-size: 70%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 35px 15px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
    color: #a3a3a3;
}

.navbar-default .social-media {
    float: right;
    padding: 0 15px;
}

.navbar-default .social-media i {
    font-size: 22px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #a3a3a3;
}

.top-nav-collapse {
    background: #24242a;
}

.top-nav-collapse .navbar-brand {
    height: auto;
}

.top-nav-collapse .navbar-brand img {
    width: 82px;
    height: 52px;
}

.top-nav-collapse .nav > li > a {
    padding: 30px 15px;
}

/* ==========================================================================
Sliders Style
========================================================================== */
#owl-hero {
    overflow: hidden;
}

#owl-hero .item {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#owl-hero .item .caption {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 15;
}

#owl-hero .item .caption h1 {
    margin-top: 40px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#owl-hero .item .caption h1 span {
    font-weight: 700;
}

#owl-hero .item .caption h6 {
    color: #fff;
    margin: 0;
}

#owl-hero .owl-pagination {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    bottom: 5%;
}

#owl-hero .owl-pagination .owl-page.active span {
    background: #fff;
}

#owl-hero .owl-pagination .owl-page span {
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
    opacity: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#owl-hero .owl-buttons div {
    background: #fff;
    font-size: 24px;
    color: #a3a3a3;
    opacity: 1;
}

#owl-hero .owl-buttons .owl-prev {
    left: -60px;
}

#owl-hero .owl-buttons .owl-next {
    right: -60px;
}

#owl-hero .owl-buttons .owl-prev,
#owl-hero .owl-buttons .owl-next {
    position: absolute;
    background: #fff;
    top: 50%;
    height: 51px;
    width: 51px;
    line-height: 45px;
    border-radius: 0;
    border: 1px solid #fff;
    z-index: 20;
    text-align: center;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#owl-hero:hover .owl-prev {
    left: -5px;
}

#owl-hero:hover .owl-next {
    right: -5px;
}

/* ==========================================================================
Portfolio Style
========================================================================== */
#portfolio {
    padding: 60px 0;
    text-align: center;
}

#portfolio h2 {
    text-transform: uppercase;
}

#portfolio p {
    margin-bottom: 40px;
}

#portfolio .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#portfolio .container-fluid .col-lg-4 {
    padding-left: 0;
    padding-right: 0;
}

#portfolio .portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

#portfolio .portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(13, 13, 13, 0.6);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
}

#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}

#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

#portfolio .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

/* ==========================================================================
Footer Map Style
========================================================================== */
footer {
    padding: 30px 40px 30px 40px;
    background-color: #3f3e3e;
    font-family: Corbel;
    font-size: 13px; /*Vary font-size as required*/
}

.footer_a {
    color: #b2b2b2;
}

.footer_a :hover {
    color: #fff;
}

.vcard {
    color: #b2b2b2;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    margin: auto;
}

/* ==========================================================================
Media Queries Style
========================================================================== */
@media (max-width: 1300px) {
    /*-- Navigation --*/
    .navbar-default {
        background: #24242a;
    }

    .navbar-default .navbar-header {
        width: 100%;
        padding-right: 0;
    }

    .navbar-default .navbar-header .navbar-brand {
        height: auto;
    }

    .navbar-default .navbar-header .navbar-brand img {
        width: 100px;
        height: 52px;
    }

    .navbar-default .nav-wrap {
        width: 100%;
    }

    .navbar-default .navbar-toggle {
        padding-top: 25px;
        padding-bottom: 25px;
        border: none;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:active {
        background: none;
    }

    .navbar-default .navbar-left,
    .navbar-default .navbar-right {
        float: none !important;
    }

    .navbar-default .navbar-toggle {
        display: block;
    }

    .navbar-default .navbar-collapse {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-default .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-default .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-default .navbar-nav > li {
        float: none;
    }

    .navbar-default .collapse.in {
        display: block !important;
    }

    /*-- Sliders --*/
    #owl-hero h1 {
        font-size: 42px;
    }

    #owl-hero h6 {
        font-size: 16px;
    }

    #owl-hero .btn {
        margin-top: 20px;
    }

    #owl-hero .owl-buttons {
        display: none;
    }

    /*-- Services --*/
    #services h3 {
        font-size: 22px;
    }

    /*-- section styles --*/
    section h2 {
        font-size: 32px;
    }

    #testimonials h5 {
        font-size: 18px;
    }
}

/*======= preloader ==============*/

.page-bg {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: url('https://cdn.collegebol.com/media/college_header_image/kalyani-government-engineering-college-kgec-kalyani.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(0px);
    z-index: 10;
}

.preloader-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1.0));
    z-index: 10;
}

.preloader-1 > .preloader-box {
    position: absolute;
    width: 360px;
    height: 30px;
    top: 50%;
    left: 45%;
    margin: -15px 0 0 -40px;
    -webkit-perspective: 200px;
}

.preloader-1 .preloader-box > .signature {
    position: relative;
    width: 30px;
    height: 30px;
    background: #CCC;
    float: left;
    text-align: center;
    line-height: 30px;
    font-family: Verdana;
    font-size: 20px;
    color: #FFF;
}

.preloader-1 .preloader-box > .signature:nth-child(1) {
    background: #800000;
    margin-right: 15px;
    -webkit-animation: movement 600ms ease 0ms infinite alternate;
}

.preloader-1.preloader-box > .signature:nth-child(2) {
    background: #800000;
    margin-right: 15px;
    -webkit-animation: movement 600ms ease 75ms infinite alternate;
}

.preloader-1 .preloader-box > .signature:nth-child(3) {
    background: #800000;
    margin-right: 15px;
    -webkit-animation: movement 600ms ease 150ms infinite alternate;
}

.preloader-1 .preloader-box > .signature:nth-child(4) {
    background: #800000;
    margin-right: 15px;
    -webkit-animation: movement 600ms ease 225ms infinite alternate;
}

@-webkit-keyframes movement {
    from {
        -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    to {
        -webkit-transform: scale(1.5) translateY(-25px) rotateX(45deg);
        box-shadow: 50px 50px 50px rgba(0, 0, 0, 1);
        background: #9F0000;
    }
}

/*others*/

.feed_date{
    margin-left: 5%;
    color: #a47d7d;
}
