.chart {
    height: 300px;
}

#area {
    margin-top: 10%;
}

.panel-info {
    background-color: #700a0a;
}

.panel-info > .panel-heading {
    color: #700a0a;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

@media all and (max-width: 600px) {
    #area {
        margin-top: 40%;
    }

    .chart {
        height: 300px;
        width: 300px;
    }
}
