.single-full-width{display:none;}
textarea.not-valid , input[type='text'].not-valid{border:1px solid red;}
.news-details{padding:15px 15px 0 15px;background-color:#0a1921;}
.tm-share-inner.single-news { padding: 15px 80px 15px;}
.tm-share-inner-news{position:fixed;width:0;top:30%;z-index:999999;left:0;display:none;}
.tm-share-inner-news .social-icon{margin:2px;width:48px;line-height:48px;}
.news-details h1.light-title, .news-details h3.light-title{padding-left:4%;}
.news-details .item-author, .news-details .item-date{color:#b4b4b4;}
.view-text{display:none;}
.author-current{border-radius:0;}
.comments-area{border:6px solid transparent;padding:15px;-webkit-border-image:url('assets/images/toolbar-bg.png') 4 round;-o-border-image:url('assets/images/toolbar-bg.png') 4 round;border-image:url('assets/images/toolbar-bg.png') 4 round;border-left:0;border-right:0;border-bottom:0;margin-top:30px;margin-left:-7%;margin-right:-7%;}
.reply{padding-bottom:10px;}
.author{color:#fff;font-weight:bold;text-transform:capitalize;}
.comment-author .avatar{border-radius:0;}
.avatar{float:left;padding-right:10px;}
a.comment-reply-link{margin-left:2px;color:#fff;}
.comment-text{padding-left:65px;}
.form-submit.form_heig{padding-right:16px;}
.news-img{height:0;padding-top:45%;position:relative;overflow:hidden;max-height:100%;background-size:cover;background-repeat:no-repeat;background-position:0;width:92%;margin:0 auto;}
.item-author-date, .item-filed-content{text-transform:uppercase;padding-left:4%;}
.item-filed-content{margin-bottom:10px;}
.item-social{text-align:right;padding-right:4%;}
.item-author-date .item-author, .item-author-date .item-date, .item-filed, .item-social, .pp-icon i{color:#b1b1b1 !important;font-size:18px;text-transform:uppercase;}
.content-post{padding:30px 185px;color:#eaeaea;}
.content-post p, .content-post h1, .content-post h2, .content-post h3, .content-post h4, .content-post h5, .content-post h6{font-size:16px;line-height:1.5;}
.pp-icon, .pp-icon:hover{color:#6e6e6e !important;}
.fa{/*color:#b1b1b1 !important;*/}
textarea, input[type='text'], input[type='email'], input[type='url'], input[type='number'], input[type='password'], select, .light-div textarea, .light-div input[type='text'], .light-div input[type='email'], .light-div input[type='url'], .light-div input[type='number'], .light-div input[type='password'], .light-div select{background:#1e2121;color:#b4b4b4;font-family:'MetricWeb-Regular';border-radius:0;border:1px solid #303434}
input[type='submit'], .dark-div .light-div button, .dark-div .light-div input[type='submit']{background-color:#1c3e50;width:100%;height:41px;text-align:center;text-transform:uppercase;border-radius:0;border:1px solid #303434;}
input[type='submit']:hover, .dark-div .light-div button:hover, .dark-div .light-div input[type='submit']:hover{background-color:#0aadad;color:#122c3a !important;}
.comment-respond .comment-form{padding-right:86px;}
@media (max-width:1024px){.nopadding{padding:0 !important;}
.comment-respond .comment-form{padding-right:0;}
.form-submit.form_heig{padding-right:0;}
.item-author-date .item-author, .item-author-date .item-date, .item-filed, .item-social, .pp-icon i{font-size:14px;}
}
@media (max-width:320px){.news-details h3.light-title{padding-left:0;font-size:16px;padding:0px 30px 0 30px;line-height:1.5;}
.item-author-date, .item-filed-content{padding-left:25px;}
.item-filed-content{display:none;}
.item-author-date, .item-filed-content{padding-left:44px;line-height:1.2;padding-bottom:10px;}
.item-social{float:right;padding-right:45px;margin-top:-14px;padding-bottom:0px;padding-left:0;}
.item-author-date .item-author, .item-author-date .item-date, .item-filed, .item-social, .pp-icon{font-size:9px;}
.news-img{padding-top:50%;width:82%;background-position:50%;}
.pp-icon{font-weight:normal;padding:0 2px;}
.content-post{padding:15px;}
.content-post p{font-size:10px;}
.content-post h1, .content-post h2, .content-post h3, .content-post h4, .content-post h5, .content-post h6{font-size:18px;}
.content-post p{font-size:14px;line-height:1.5;}
.view-text{display:none;}
.fa{font-size:14px;color:#b1b1b1 !important;}
.tm-share-inner-news{left:0;}
.tm-share-inner-news .social-icon{width:38px;line-height:38px;}
.item-author-date .item-author, .item-author-date .item-date, .item-filed, .item-social, .pp-icon i{font-size:12px;margin-left:0;}
}
@media (max-width:320px) and (orientation:landscape){.news-img{width:83%;}
.tm-share-inner-news{width:100%;bottom:0;}
.tm-share-inner-news .social-icon{width:38px;line-height:38px;}
}
@media (min-width:321px) and (max-width:668px){.news-details h3.light-title{padding-left:0;font-size:15px;padding:0px 30px 0 30px;line-height:1.5;}
.item-author-date, .item-filed-content{padding-left:45px;line-height:1.2;padding-bottom:10px;}
.item-filed-content{display:none;}
.item-social{float:right;padding-right:45px;margin-top:-14px;padding-bottom:0px;}
.item-author-date .item-author, .item-author-date .item-date, .item-filed, .item-social, .pp-icon{font-size:11px;}
.news-img{padding-top:50%;width:84%;background-position:50%;}
.pp-icon{font-weight:normal;padding:0 5px 0 5px;}
.content-post{padding:15px 15px;}
.content-post h1, .content-post h2, .content-post h3, .content-post h4, .content-post h5, .content-post h6{font-size:20px;}
.content-post p{font-size:14px;}
.view-text{display:none;}
.fa{font-size:18px;color:#b1b1b1 !important;}
.tm-share-inner-news{left:0;}
.tm-share-inner-news .social-icon{width:38px;line-height:38px;}
}
@media (min-width:321px) and (max-width:668px) and (orientation:landscape){.tm-share-inner-news{width:100%;top:83%;margin:0 auto;text-align:center;background:none;}
.tm-share-inner-news .social-icon{width:38px;line-height:38px;margin:0 auto;}
}
@media (min-width:321px) and (max-width:665px) and (orientation:landscape){.news-img{width:89%;}
}
@media (min-width:666px) and (max-width:668px) and (orientation:landscape){.news-img{width:91%;}
}
@media (min-width:736px) and (max-width:736px) and (orientation:landscape){.news-img{width:91%;margin-top:-30px;width:90%;padding-top:40%;}
.item-author-date{padding-left:40px;}
.item-author-date .item-author, .item-author-date .item-date, .item-filed, .item-social, .pp-icon i{top:-22px;}
.item-social{left:-20px;}
}
@media (min-width:669px) and (max-width:769px){.news-details h3.light-title{padding-left:35px;}
.item-author-date{padding-left:50px;}
.item-filed-content{padding-left:35px;}
.item-social{padding-right:35px;}
.content-post{padding:30px 60px;}
.tm-share-inner-news{width:100%;top:83%;margin:0 auto;text-align:center;background:none;}
.tm-share-inner-news .social-icon{width:38px;line-height:38px;margin:0 auto;}
.item-author-date .item-author, .item-author-date .item-date, .item-filed, .item-social, .pp-icon i{font-size:12px;margin-left:10px;}
}
@media (min-width:735px) and and (max-width:1023px) and(orientation:landscape){.news-img{width:83%;}
.news-details h3.light-title{padding-left:0;padding:0 65px 0 65px;}
.item-filed-content{display:none;}
.item-social{padding-right:0;position:relative;float:right;margin-top:-40px;padding-right:66px;padding-bottom:31px;}
.item-author-date{padding-left:78px;}
}
@media (min-width:770px) and (max-width:1024px){.news-img{width:88%;}
.item-author-date{padding-left:78px;}
.item-filed-content{padding-left:62px;}
.content-post{padding:30px 150px;}
}
@media (min-width:768px) and (max-width:1024px) and (orientation:portrait){.news-details h3.light-title{padding-left:0;padding:0 65px 0 65px;}
.item-author-date{padding-left:68px;line-height:1.2;padding-bottom:0;}
.item-filed-content{padding-left:65px;}
.item-social{padding-right:65px;margin-top:-14px;}
.news-img{width:84%;}
.tm-share-inner-news{width:0;top:20%;margin:0 auto;text-align:center;background:none;}
.tm-share-inner-news .social-icon{width:38px;line-height:38px;margin:2px;}
}
@media (min-width:1024px) and (max-width:1024px) and (orientation:landscape){.news-details h3.light-title{padding-left:6%;}
.item-social{text-align:right;padding-right:7%;}
}
@media (min-width:1130px){.news-img{max-width:1080px;padding-top:38%;}
}
