{% extends 'base.html' %}
{% load staticfiles %}

    <title>{% block title %}About{% endblock %} | Espektro 17</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
{% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'css/about.css' %}" rel="stylesheet">

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}
    <!-- About Section -->
    <section id="about">
        <div class="container" style="color:#ffffff;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">_________________________</h3><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'images/2006.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006</h4>
<!--                                    <h4 class="subheading">Our Humble Beginnings</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ESPEKTRO is the Annual Techno-Management and Cultural festival of Kalyani Government Engineering College, held in the month of March. It started with the year of 2006, and since then it has continued to soar to greater heights, spreading out its wings across an expansive arena.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'images/2015.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
<!--                                    <h4 class="subheading">A Platform is Born</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A platform that showcased youthful energy, intellectuality and creativity, the festival spanned across three days and nights of high octane action, a perfect blend of exuberance, talent and excellence.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'images/2016.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
<!--                                    <h4 class="subheading">Transition to Full Service</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bringing our world into a different dimension, Espektro'16 was when we brought the skies of the Arab world to our home-ground. The technical, cultural and managerial spirits mingled to bring forth fizz, frolic and festivity while the Pro-Nites casted a spell on one, an all.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'images/2017.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
<!--                                    <h4 class="subheading">Phase Two Expansion</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">9th, 10th and 11th of March - The three days and nights in a boisterous juncture, will be including technical events in the mornings and cultural events in the evenings. And as an added treat, this year, will be an escapade, into 'A world of novels'.
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
