<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | ESPEKTRO '17</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="description" content="kalyani government engineering college,Kalyani govt. engg. college,Kalyani govenment engineering college fest,Kalyani govt. engg college fest,KGEC fest,cultural fest,technical fest,armaan malik live,spunk live,fashion show in kolkata,kgec techfest,techevents in kolkata,techtix wiki,robotics events,coding events,gaming events,activities in kalyani,activities at kgec,activities in engineering colleges,topsy turvy,dancing events,best fest in west bengal,alumni meet,shutter speed,directors cut,short flim compitition ,bug of debug,code dictator,robots racing,popular fest in india,government colleges in west bengal,government colleges in india,west bengal,rock band competition,creative writing,the lost trail,college magazine,technical workshops,free workshops,robotics workshops">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <meta name="keywords" content="espektro,techtix,techfest,fest,social,kalyani,enginnering,college,pronights,fest,armaan,malik,live,performances,spunk,director,flim,pratibimb,bandslam,cryptix,kalyani,ghoshpara,kolkata,graffiti,groufie,photography,creativity,flashmob,workshops,ideal,jis,peaceful events"> {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'assets/img/e1.png' %}"> {% block styles %}{% endblock %}
    <link href="{% static 'assets/plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/bootstrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/jquery-scrollbar/jquery.scrollbar.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'pages/css/pages-icons.css' %}" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="{% static 'pages/css/pages.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Theme CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head>

<body style="overflow-y: auto">
    <!--NAVIGATION BAR-->
    <nav class="page-sidebar" data-pages="sidebar">
        <center style="padding-top:10px">
            <a href="/home"> <img src="{% static 'assets/img/E-logo.png' %}" width=auto height="60"></a>
        </center>
        <div class="sidebar-menu">
            <ul id="main_navbar" class="menu-items">
                <li class="m-t-30 ">
                    <a href="/home" class="detailed">
                        <span class="title">Home</span>
                    </a>
                    <span class="icon-thumbnail"><i class="fa fa-home"></i></span>
                </li>
                <li class="">
                    <a href="/about" class="detailed">
                        <span class="title">About Us</span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-grid"></i></span>
                </li>
                <li class="">
                    <a href="javascript:;" class="detailed">
                        <span class="title">Events</span>
                        <span class=" arrow"></span></a>
                    <span class="icon-thumbnail">E</span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="/events/techtix">Techtix</a>
                            <span class="icon-thumbnail">Tx</span>
                        </li>
                        <li class="">
                            <a href="/events/exotica">Exotica</a>
                            <span class="icon-thumbnail">Ex</span>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/sponsors">
                        <span class="title">Sponsors</span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-layouts"></i></span>
                </li>
                <li>
                    <a href="/gallery"><span class="title">Gallery</span></a>
                    <span class="icon-thumbnail"><i class="pg-layouts2"></i></span>
                </li>
                <li>
                    <a href="/profile/register">
                        <span class="title">Register</span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-form"></i></span>
                </li>
                <li class="">
                    <a href="/contacts">
                        <span class="title">Contact Us</span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg pg-ui"></i></span>
                </li>
                <li>
                    <a href="/maps"><span class="title">Locate Us</span></a>
                    <span class="icon-thumbnail"><i class="pg-map"></i></span>
                </li>
                <li>
                    <a href="/"><span class="title">Story</span> </a>
                    <span class="icon-thumbnail">S</span>
                </li>
                <li>
                    <a href="/ca"><span class="title">Campus Ambassador</span> </a>
                    <span class="icon-thumbnail">Ca</span>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </nav>
    <!--NAVIGATION BAR ENDS-->
    <div class="page-container">
        <div class="header" style="padding:0 0;">
            <!--MOBILE VIEW HEADER-->
            <div class="container-fluid relative" style="background-color:black;">
                <div class="pull-left full-height visible-sm visible-xs">
                    <div class="header-inner">
                        <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                            <span class="icon-set menu-hambuger"><img src="{% static 'assets/img/menu_icon.png' %}" width="25px" height="25px;"/></span>
                        </a>
                    </div>
                </div>
                <div class="pull-center hidden-md hidden-lg">
                    <div class="header-inner">
                        <div class="brand inline">
                            <img src="{% static 'assets/img/logo_e.png' %}" alt="logo" data-src="{% static 'assets/img/E-logo.png' %}" data-src-retina="{% static 'assets/img/E-logo.png' %}" width=auto height="65">
                        </div>
                    </div>
                </div>
            </div>
            <!--MOBILE VIEW HEADER ENDS-->
            <!--DESKTOP VIEW HEADER-->
            <div class=" pull-left sm-table hidden-xs hidden-sm">
                <div class="header-inner">
                    <div class="inline pull-left" style="width:70vw;">
                        <img src="{% static 'assets/img/logo_e.png' %}" alt="logo" width=auto height="50" style="margin-left: 5%; margin-top:-1%">
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class=" pull-right">
                <div class="visible-lg visible-md m-t-10">
                    <div class="dropdown pull-right">
                        <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                        <span class="semi-bold" style="font-size:20px; color:red;">{% if request.user.first_name %}{{ request.user.first_name }}{% else %} {{ request.user.username }}{% endif %}</span> <span class="text-master" style="font-size:20px; color:rgba(255,255,255,1);">{{ request.user.last_name }}</span>
                    </div>
                            <span class="thumbnail-wrapper d32 circular inline m-t-5">
                                {% if request.user.UserDetail.image %}
                                <img src="{{ request.user.UserDetail.image.url }}" alt=""
                                     data-src="url({{ request.user.UserDetail.image.url }})"
                                     data-src-retina="url({{ request.user.UserDetail.image.url }})" width="32"
                                     height="32">
                                {% else %}
                                 <img src="https://www.helptobuyese.org.uk/Sitefinity/WebsiteTemplates/BPHA-HTB/App_Themes/BPHA-HTB/Images/user-avatar.png" alt=""
                                     data-src="url({{ request.user_details.image.thumbnail.url }})"
                                     data-src-retina="{% static 'assets/img/profiles/avatar_small2x.jpg' %}" width="32"
                                     height="32">
                                {% endif %} 
                            </span>
                        </button>
                        <ul class="dropdown-menu profile-dropdown" role="menu">
                            <li>
                                <a href="/profile/edit"><i class="pg-outdent"></i> Edit Profile</a>
                            </li>
                            <li class="bg-master-lighter">
                                <a href="/profile/logout" id='logout' class="clearfix">
                                    <span class="pull-left">Logout</span>
                                    <span class="pull-right"><i class="pg-power"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile/teams"><i class="pg-outdent"></i> My Teams</a>
                            </li>
                            <li>
                                <a href="/feedback">Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {#
        <script>
        #} {#
            $(document).on('click', '#logout', function(e) {#} {#.ajax({#} {#
                    type: 'POST',
                    #
                } {#
                    url: '/profile/logout',
                    #
                } {##} {#})#
            } {##} {#})#
        } {#
        </script>#} {% else %}
        <div class=" pull-right">
            <div class="visible-lg visible-md m-t-10">
                <div class="dropdown pull-right">
                    <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                            <span class="text-master" style="font-size:20px; color:rgba(255,255,255,1);">LOGIN</span>
                        </div>
                        <span class="thumbnail-wrapper d32 circular inline m-t-5">
                                <img src="https://www.helptobuyese.org.uk/Sitefinity/WebsiteTemplates/BPHA-HTB/App_Themes/BPHA-HTB/Images/user-avatar.png" alt=""
                                     data-src="url({{ request.user_details.image.thumbnail.url }})"
                                     data-src-retina="{% static 'assets/img/profiles/avatar_small2x.jpg' %}" width="32"
                                     height="32">
                            </span>
                    </button>
                    <ul class="dropdown-menu profile-dropdown" role="menu">
                        <li>
                            <a href="/profile/register"><i class="pg-outdent"></i> Register</a>
                        </li>
                        <li class="bg-master-lighter">
                            <a href="/profile/login" class="clearfix">
                                <span class="pull-left">Login</span>
                                <span class="pull-right"><i class="pg-power"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="page-content-wrapper">
        {% block body %} {% endblock %}
        <!-- ---------------Footer-------------- -->
    </div>
    <br>
    <br>
    <div class="container-fluid footer">
        <div style="color:grey">
        <style>
        @font-face{
            font-family:Harrington;
            src:"{% static 'fonts/HARRINGT.TTF' %}";
        }
        </style>
            <center>
                <p id="base_footer">
                    <b>Made by <a href="/webteam" style="color:white;">Espektro Web Team</a> | &copy; 2017
                        <a href="/"><span
                                style="font-family:Harrington; color:white">ESPEKTRO</span></a>.</b>
                </p>
            </center>
        </div>
    </div>
    <script src="{% static 'assets/plugins/jquery/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/modernizr.custom.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/bootstrapv3/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'pages/js/pages.min.js' %}"></script>
    {% block scripts%} {% endblock %}
</body>

</html>
