<!DOCTYPE html>
<html>
<head>
    <title>ChangeUrDp | Espektro 17</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/changeurdp.css" rel="stylesheet">
    <style>
    @font-face{font-family: harrington; src: url(../static/HARRINGT.ttf);}
    </style>
</head>
<body>
    <br>
    <h1 style="font-family:harrington;font-size:50px;color:white;">espektro'17</h1>
    <h3 style="font-family:harrington;color:white;">The World Of Novels | 8th - 11th March, 2017</h3>
    <h4 style="font-family:harrington;"></h4>
        <div class="testbox">
            <h1 style="color:Black;font-weight:bold;">Change Your DP</h1>
                <form id="upload" action='.' method="post"  enctype="multipart/form-data"> 
                {% csrf_token %}
                <div class="container">

                    <label id="icon" for="{{ form.Name.id_for_label }}"><i class="fa fa-user"></i></label>
                        {{form.Name}}
                        {{ form.Name.errors }}
                    <br>

                    <label id="icon" for="{{ form.Email.id_for_label }}"><i class="fa fa-envelope "></i></label>
                        {{ form.Email }}
                        {{ form.Email.errors }}
                    <br>

                    <label id="icon" for="{{ form.Filter.id_for_label }}"><i class="fa fa-file-image-o" aria-hidden="true"></i></label>
                    {{ form.Filter }}
                    {{ form.Filter.errors }}

                    <br>
                    <label id="icon" for="{{ form.Image.id_for_label"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
                    {{ form.Image }}
                    {{ form.Image.errors }}
                    <br>
                    <hr>
                    <label style="color:black;"><input type="checkbox" name="Terms" required/> I <b>agree</b> on not using vulgarity or obscenity in any form and allow <b>Espektro, KGEC</b><br>to use my basic information &amp; picture for promotional activities.</label><br>
                    <button class="button" type="submit">Upload</a>
                    </div>
          </form>
        </div>
                <br>
            <br>
            <br>
            
</body>