
{% extends 'base.html' %}
{% load staticfiles %}

    <title>{% block title %}Contacts{% endblock %} | Espektro 17</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
{% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    <!-- Team Section -->
    <section id="team">
        <div class="container" style="color: #ffffff">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contacts</h2>
                    <h3 class="section-subheading text-muted">_________________________</h3>
                </div>
            </div>
            <h3 ><center style="margin-bottom:2vw">Overall Co-ordinator</center></h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="team-member">
                        <img src="{% static 'images/1.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Sushovan Chatterjee</h4>
                        <p class="text-muted"> <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;sushovan@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;8981872010</p>
                    </div>
                </div>
            </div>
            <h3><center style="margin-bottom:2vw">Techtix Co-ordinator</center></h3>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/2.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Aritro Goswami</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;aritra@espektro.in<<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;9547018202</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/3.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Sumit Poddar</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;sumit@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;8013210872</p>
                    </div>
                </div>
            </div>
            <h3><center style="margin-bottom:2vw">Sponsorship and Finance</center></h3>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/4.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Jigar Rachh</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;jigar@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;	9038563551</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/5.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Debashish Biswas</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;debashish@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;8906791818</p>
                    </div>
                </div>
                </div>
            <h3><center style="margin-bottom:2vw">Promotion and Marketing</center></h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="team-member">
                        <img src="{% static 'images/6.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Sagnik Sarkar</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;sagnik@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;9804052827</p>
                    </div>
                </div>
            </div>
            <h3><center style="margin-bottom:2vw">Events Manager</center></h3>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/7.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Aindrilla Saha</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;aindrilla@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;	7797279036</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/8.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Dwip Mirdha</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;dwip@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp; 8981227020</p>
                    </div>
                </div>
            </div>
            <h3><center style="margin-bottom:2vw">Pronites</center></h3>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/9.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Sourav Chatterjee</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;sourav@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;		9163822062</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/10.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Poulami Mridha</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;poulami@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp; 9432491327</p>
                    </div>
                </div>
            </div>
            <h3><center style="margin-bottom:2vw">Technical Support</center></h3>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/11.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Souvik Nandi</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;souvik@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;9830953075</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/12.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Ritesh Mukim</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;ritesh@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;	9681847097</p>
                    </div>
                </div>
            </div>
            <h3><center style="margin-bottom:2vw">Creatives and Design</center></h3>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/13.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Manish Verma</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;manish@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;	8013655970</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/14.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Soham Mitra</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;soham@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp; 869781846</p>
                    </div>
                </div>
            </div>
            <h3><center style="margin-bottom:2vw">Security and Onground Management</center></h3>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/15.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Shambhu Kumar Sharma</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;shambhu@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;	9475675264</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="team-member">
                        <img src="{% static 'images/16.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Souvik Saha</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;souvik.saha@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp; 9434851079</p>
                    </div>
                </div>
            </div>
            <h3><center style="margin-bottom:2vw">Hospitality and PR</center></h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="team-member">
                        <img src="{% static 'images/17.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Santu Samanta</h4>
                        <p class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;santu@espektro.in<br><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;	9735886778</p>
                    </div>
                </div>
        </div>
        </div>
</section>
{% endblock %}