<!DOCTYPE html>
<html>
<head>
    <title>ChangeUrDp | Espektro 17</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <style>
    @font-face{font-family: harrington; src: url(../static/HARRINGT.ttf);}
    </style>
</head>
<!--<body style="background-color:blue">-->
    <body>
    <div class="container text-center">
    <br>
    <br>
    <br>
    <h1 style="font-family:harrington;font-size:5vw">espektro'17</h1>
    <h4>_______________________</h4>
    <br><br>
    
    <h4 style="font-family:'Sansita', sans-serif;font-size:2vw">Thankyou for uploading your DP.<br><br>
        You will recieve your DP within 24 hours in your email.<br><br>
    </h4>
    <p style="font-family:'Sansita', sans-serif;font-size:1.5vw">For more information about Espektro, visit our <a href="http://espektro.in" style="color:black" target="_blank">website</a>.</p>
</div>
    </body>